# Global code owner for the code that is orphan and for changes across the repo like refactoring. 
*  @azure-pipelines-admin

ci/  @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/AndroidSigningV2/    @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/AndroidSigningV3/    @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/ANTV1/   @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/AppCenterDistributeV1/   @imenkov    @lucen-ms    @DergachevE

Tasks/AppCenterDistributeV2/   @imenkov    @lucen-ms    @DergachevE

Tasks/AppCenterDistributeV3/   @imenkov    @lucen-ms    @DergachevE

Tasks/AppCenterTestV1/   @imenkov    @lucen-ms    @DergachevE

Tasks/ArchiveFilesV2/  @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

# DRI Rotation for @microsoft/release-management-task-team : DRI-ReleaseManagement
Tasks/AzureAppConfigurationExportV10/  @microsoft/azure-appconfig-team

Tasks/AzureAppConfigurationImportV10/  @microsoft/azure-appconfig-team

Tasks/AzureAppConfigurationSnapshotV1/  @microsoft/azure-appconfig-team

Tasks/AzureAppServiceManageV0/   @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureAppServiceSettingsV1/  @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureCLIV1/      @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureCLIV2/     @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureCloudPowerShellDeploymentV1/  @microsoft/release-management-task-team  @manolerazvan 

Tasks/AzureCloudPowerShellDeploymentV2/  @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureContainerAppsV0/    @naziml    @tarunramsinghani

Tasks/AzureContainerAppsV1/    @naziml    @tarunramsinghani

Tasks/AzureFileCopyV1/   @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureFileCopyV2/   @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureFileCopyV3/   @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureFileCopyV4/   @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureFileCopyV5/   @microsoft/release-management-task-team @manolerazvan

Tasks/AzureFileCopyV6/   @microsoft/release-management-task-team @manolerazvan

Tasks/AzureFunctionAppV1/   @finvamp1 @patelchandni @microsoft/release-management-task-team @manolerazvan  

Tasks/AzureFunctionAppV2/   @finvamp1 @patelchandni @microsoft/release-management-task-team @manolerazvan  

Tasks/AzureFunctionAppContainerV1/   @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureFunctionOnKubernetesV0/     @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureFunctionOnKubernetesV1/     @microsoft/release-management-task-team @manolerazvan

Tasks/AzureFunctionV1/     @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureIoTEdgeV2/     @marianan 

Tasks/AzureKeyVaultV1/     @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureKeyVaultV2/     @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureMonitorV0/      @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureMonitorV1/      @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureMysqlDeploymentV1/  @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureNLBManagementV1/   @microsoft/release-management-task-team @manolerazvan 

Tasks/AzurePolicyV0/   @microsoft/release-management-task-team @manolerazvan 

Tasks/AzurePowerShellV2/   @microsoft/release-management-task-team @manolerazvan 

Tasks/AzurePowerShellV3/   @microsoft/release-management-task-team @manolerazvan 

Tasks/AzurePowerShellV4/   @microsoft/release-management-task-team @manolerazvan 

Tasks/AzurePowerShellV5/   @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureResourceGroupDeploymentV2/      @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureResourceManagerTemplateDeploymentV3/      @microsoft/release-management-task-team @manolerazvan 

# DRI rotation: App Service (Web Apps)
Tasks/AzureRmWebAppDeploymentV3/   @jvano @dannysongg @microsoft/azure-app-service-pipelines-tasks @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureRmWebAppDeploymentV4/   @jvano @dannysongg @microsoft/azure-app-service-pipelines-tasks @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureRmWebAppDeploymentV5/   @jvano @dannysongg @shilpirachna1 @microsoft/azure-app-service-pipelines-tasks @microsoft/release-management-task-team @manolerazvan

# DRI rotation: Azure Spring Apps/AzDMSS-Support
Tasks/AzureSpringCloudV0    @microsoft/azure-spring-apps @menxiao

Tasks/AzureStaticWebAppV0/  @microsoft/azure-static-web-apps @mkarmark @joslinmicrosoft

Tasks/AzureTestPlanV0/     @manos  @microsoft/adoautotest

Tasks/AzureWebAppV1/  @microsoft/release-management-task-team @manolerazvan 

Tasks/AzureWebAppContainerV1/  @jvano @dannysongg @manolerazvan @microsoft/azure-app-service-pipelines-tasks @microsoft/release-management-task-team 

Tasks/AzureVmssDeploymentV0/   @microsoft/release-management-task-team @manolerazvan

Tasks/AzureVmssDeploymentV1/   @microsoft/release-management-task-team @manolerazvan

Tasks/BashV3/  @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/BatchScriptV1/  @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/CacheV2/       @johnterickson

Tasks/CacheBetaV0/      @johnterickson

Tasks/CacheBetaV1/      @johnterickson

Tasks/CargoAuthenticateV0/      @microsoft/azure-artifacts-packages

Tasks/ChefV1/     @microsoft/release-management-task-team @manolerazvan 

Tasks/ChefKnifeV1/    @microsoft/release-management-task-team @manolerazvan 

Tasks/CMakeV1/  @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/CmdLineV2/   @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/CocoaPodsV0/     @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/Common/artifacts-common/     @microsoft/azure-artifacts-packages

Tasks/Common/AzureRmDeploy-common/   @vincentdass    @microsoft/release-management-task-team @manolerazvan 

Tasks/Common/Deployment/     @microsoft/release-management-task-team @manolerazvan  

Tasks/Common/PowershellHelpers/  @microsoft/release-management-task-team @manolerazvan 

Tasks/Common/RemoteDeployer/   @arjgupta

Tasks/Common/ServiceFabricHelpers/   @microsoft/release-management-task-team @manolerazvan 

Tasks/Common/TlsHelper_/      @arjgupta

Tasks/Common/VstsAzureHelpers_/     @vincentdass

Tasks/Common/VstsAzureRestHelpers_/  @Ajay-MS  

Tasks/Common/azure-arm-rest/   @microsoft/release-management-task-team @manolerazvan 

Tasks/Common/azure-arm-rest-v2/   @microsoft/release-management-task-team @manolerazvan 

Tasks/Common/azure-blobstorage-artifactProvider/   @omeshp   @hiyadav    

Tasks/Common/coveragepublisher/     @manos  @microsoft/adoautotest

Tasks/Common/docker-common/      @microsoft/release-management-task-team @manolerazvan

Tasks/Common/kubernetes-common/   

Tasks/Common/packaging-common/     @microsoft/azure-artifacts-packages

Tasks/Common/utility-common/       

Tasks/Common/webdeployment-common/   @microsoft/release-management-task-team @manolerazvan 

Tasks/CondaAuthenticateV0/      @microsoft/azure-artifacts-packages

Tasks/CondaEnvironmentV0/      @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/CondaEnvironmentV1/      @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/ContainerBuildV0/    @microsoft/release-management-task-team @manolerazvan

Tasks/CopyFilesV2/  @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/CopyFilesOverSSHV0/  @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/CUrlUploaderV2/  @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/DecryptFileV1/  @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/DelayV1/     @microsoft/release-management-task-team @manolerazvan 

Tasks/DeleteFilesV1/   @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/DockerV0/    @microsoft/release-management-task-team @manolerazvan 

Tasks/DockerV1/    @microsoft/release-management-task-team @manolerazvan 

Tasks/DockerV2/    @microsoft/release-management-task-team @manolerazvan 

Tasks/DockerComposeV0/     @microsoft/release-management-task-team @manolerazvan 

Tasks/DockerComposeV1/     @microsoft/release-management-task-team @manolerazvan 

Tasks/DockerInstallerV0/    @microsoft/release-management-task-team @manolerazvan 

Tasks/DotNetCoreCLIV2/     @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani @DergachevE 

Tasks/DotNetCoreInstallerV0/   @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani @DergachevE 

Tasks/DotNetCoreInstallerV1/   @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani @DergachevE 

Tasks/DownloadBuildArtifactsV0/   @microsoft/release-management-task-team @manolerazvan 

Tasks/DownloadFileshareArtifactsV1/   @microsoft/release-management-task-team @manolerazvan 

Tasks/DownloadGitHubNpmPackageV1/    @microsoft/release-management-task-team @manolerazvan 

Tasks/DownloadGitHubNugetPackageV1/    @microsoft/release-management-task-team @manolerazvan 

Tasks/DownloadGitHubReleaseV0/    @microsoft/release-management-task-team @manolerazvan 

Tasks/DownloadPackageV0/       @microsoft/azure-artifacts-packages

Tasks/DownloadPackageV1/       @microsoft/azure-artifacts-packages

Tasks/DownloadPipelineArtifactV0/      @carl-tanner @fadnavistanmay @b-barthel @kutsen99 @kunalkaroth

Tasks/DownloadPipelineArtifactV1/      @carl-tanner @fadnavistanmay @b-barthel @kutsen99 @kunalkaroth

Tasks/DownloadPipelineArtifactV2/      @carl-tanner @fadnavistanmay @b-barthel @kutsen99 @kunalkaroth

Tasks/DownloadSecureFileV1/    @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/DuffleInstallerV0/   @microsoft/release-management-task-team @manolerazvan 

Tasks/ExtractFilesV1/      @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/FileTransformV1/    @microsoft/release-management-task-team @manolerazvan 

Tasks/FileTransformV2/    @microsoft/release-management-task-team @manolerazvan 

Tasks/FtpUploadV1/     @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/FtpUploadV2/     @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/FuncToolsInstallerV0/     @microsoft/release-management-task-team @manolerazvan 

Tasks/GitHubCommentV0/     @ds-ms

Tasks/GitHubReleaseV0/     @microsoft/release-management-task-team @manolerazvan 

Tasks/GitHubReleaseV1/     @microsoft/release-management-task-team @manolerazvan 

Tasks/GoV0/    @microsoft/release-management-task-team @manolerazvan 

Tasks/GoToolV0/    @microsoft/release-management-task-team @manolerazvan 

Tasks/GradleV2/    @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/GradleV3/    @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/GradleV4/    @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/GruntV0/     @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/GulpV0/      @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/GulpV1/      @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/HelmDeployV0/       @microsoft/release-management-task-team @manolerazvan 

Tasks/HelmDeployV1/       @microsoft/release-management-task-team @manolerazvan 

Tasks/HelmInstallerV0/    @microsoft/release-management-task-team @manolerazvan 

Tasks/HelmInstallerV1/    @microsoft/release-management-task-team @manolerazvan 

Tasks/IISWebAppDeployment/    @microsoft/release-management-task-team @manolerazvan 

Tasks/IISWebAppDeploymentOnMachineGroupV0/    @microsoft/release-management-task-team @manolerazvan 

Tasks/IISWebAppManagementOnMachineGroupV0/    @microsoft/release-management-task-team @manolerazvan 

Tasks/InstallAppleCertificateV2/   @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/InstallAppleProvisioningProfileV1/   @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/InstallSSHKeyV0/     @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/InvokeRestApiV1/     @microsoft/release-management-task-team @manolerazvan 

Tasks/JavaToolInstallerV0/     @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/JavaToolInstallerV1/     @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/JenkinsDownloadArtifactsV1/    @microsoft/release-management-task-team @manolerazvan 

Tasks/JenkinsDownloadArtifactsV2/   @microsoft/release-management-task-team @manolerazvan

Tasks/JenkinsQueueJobV2/   @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/KubectlInstallerV0/  @microsoft/release-management-task-team @manolerazvan 

Tasks/KubeloginInstallerV0/  @YevheniiKholodkov @microsoft/release-management-task-team @manolerazvan 

Tasks/KubernetesV0/    @microsoft/release-management-task-team @manolerazvan 

Tasks/KubernetesV1/    @microsoft/release-management-task-team @manolerazvan 

Tasks/KubernetesManifestV0/    @microsoft/release-management-task-team @manolerazvan 

Tasks/KubernetesManifestV1/    @microsoft/release-management-task-team @manolerazvan 

Tasks/ManualInterventionV8/    @microsoft/release-management-task-team @manolerazvan 

Tasks/ManualValidationV0/      @microsoft/release-management-task-team @manolerazvan 

Tasks/ManualValidationV1/      @microsoft/release-management-task-team @manolerazvan

Tasks/MavenAuthenticateV0/     @microsoft/azure-artifacts-packages

Tasks/MavenV2/     @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/MavenV3/     @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/MavenV4/     @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/MSBuildV1/   @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/MysqlDeploymentOnMachineGroupV1/    @microsoft/release-management-task-team @manolerazvan 

Tasks/NodeTaskRunnerInstallerV0/    @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/NodeToolV0/ @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

# DRI rotation: Azure Container Registry / Triage
Tasks/NotationV0/ @Azure/azure-container-registry @JeyJeyGao @Two-Hearts @shizhMSFT @tarunramsinghani

Tasks/NpmV0/      @microsoft/azure-artifacts-packages

Tasks/NpmV1/      @microsoft/azure-artifacts-packages

Tasks/NpmAuthenticateV0/       @microsoft/azure-artifacts-packages

Tasks/NuGetV0/     @microsoft/azure-artifacts-packages

Tasks/NuGetCommandV2/      @microsoft/azure-artifacts-packages

Tasks/NuGetAuthenticateV1/      @microsoft/azure-artifacts-packages

Tasks/NuGetInstallerV0/      @microsoft/azure-artifacts-packages

Tasks/NuGetPackagerV0/     @microsoft/azure-artifacts-packages

Tasks/NuGetPublisherV0/    @microsoft/azure-artifacts-packages

Tasks/NuGetRestoreV1/    @microsoft/azure-artifacts-packages

Tasks/NuGetToolInstallerV0/    @microsoft/azure-artifacts-packages

Tasks/NuGetToolInstallerV1/    @microsoft/azure-artifacts-packages

Tasks/OpenPolicyAgentInstallerV0/ 

Tasks/PackerBuildV0/   @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/PackerBuildV1/   @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/PipAuthenticateV0/     @microsoft/azure-artifacts-packages

Tasks/PipAuthenticateV1/     @microsoft/azure-artifacts-packages

Tasks/PowerShellV2/    @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/PowerShellOnTargetMachinesV1/  @microsoft/release-management-task-team @manolerazvan 

Tasks/PowerShellOnTargetMachinesV2/  @microsoft/release-management-task-team @manolerazvan 

Tasks/PowerShellOnTargetMachinesV3/  @microsoft/release-management-task-team @manolerazvan 

Tasks/PublishBuildArtifactsV1/     @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/PublishCodeCoverageResultsV1/    @manos  @microsoft/adoautotest

Tasks/PublishCodeCoverageResultsV2/    @manos  @microsoft/adoautotest

Tasks/PublishPipelineArtifactV0/       @carl-tanner @fadnavistanmay @b-barthel @kutsen99 @kunalkaroth

Tasks/PublishPipelineArtifactV1/       @carl-tanner @fadnavistanmay @b-barthel @kutsen99 @kunalkaroth

Tasks/PublishPipelineMetadataV0/    @microsoft/release-management-task-team @manolerazvan 

Tasks/PublishSymbolsV2/    @carl-tanner @fadnavistanmay @b-barthel @kutsen99 @kunalkaroth

Tasks/PublishTestResultsV1/    @manos  @microsoft/adoautotest

Tasks/PublishTestResultsV2/    @manos  @microsoft/adoautotest

Tasks/ContainerStructureTestV0/    @manos  @microsoft/adoautotest

Tasks/PublishToAzureServiceBusV1/     @microsoft/release-management-task-team @manolerazvan

Tasks/PublishToAzureServiceBusV2/     @microsoft/release-management-task-team @manolerazvan

Tasks/PyPIPublisherV0/     @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/PythonScriptV0/      @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/QueryWorkItemsV0/    @microsoft/release-management-task-team @manolerazvan 

Tasks/QuickPerfTestV1/     @manos  @microsoft/adoautotest

Tasks/ReviewAppV0/   @ds-ms

Tasks/RunDistributedTestsV1/   @manos  @microsoft/adoautotest

Tasks/RunJMeterLoadTestV1/     @manos  @microsoft/adoautotest

Tasks/RunLoadTestV1/   @manos  @microsoft/adoautotest

Tasks/ServiceFabricComposeDeployV0/    @microsoft/release-management-task-team @manolerazvan 

Tasks/ServiceFabricDeployV1/   @microsoft/release-management-task-team @manolerazvan 

Tasks/ServiceFabricPowerShellV1/  @microsoft/release-management-task-team @manolerazvan 

Tasks/ServiceFabricUpdateManifestsV2/  @microsoft/release-management-task-team @manolerazvan 

Tasks/ShellScriptV2/ @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/SqlAzureDacpacDeploymentV1/   @microsoft/release-management-task-team @manolerazvan 

Tasks/SqlDacpacDeploymentOnMachineGroupV0/    @microsoft/release-management-task-team @manolerazvan 

Tasks/SqlServerDacpacDeployment/   @microsoft/release-management-task-team @manolerazvan 

Tasks/SshV0/   @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/TwineAuthenticateV0/     @microsoft/azure-artifacts-packages

Tasks/TwineAuthenticateV1/     @microsoft/azure-artifacts-packages

Tasks/UniversalPackagesV0/     @microsoft/azure-artifacts-packages

Tasks/UseDotNetV2/     @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani @DergachevE

Tasks/UseNodeV1/    @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/UsePythonVersionV0/      @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/UseRubyVersionV0/    @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/VSBuildV1/   @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/VsTestV1/    @manos  @microsoft/adoautotest

Tasks/VsTestV2/    @manos  @microsoft/adoautotest

Tasks/VsTestV3/    @manos  @microsoft/adoautotest

Tasks/VsTestPlatformToolInstallerV1/   @manos  @microsoft/adoautotest

Tasks/WindowsMachineFileCopyV1/   @microsoft/release-management-task-team @manolerazvan 

Tasks/WindowsMachineFileCopyV2/   @microsoft/release-management-task-team @manolerazvan 

Tasks/XamarinAndroidV1/    @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/XamariniOSV2/     @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/XamarinTestCloudV1/      @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani

Tasks/XcodeV5/ @microsoft/azure-pipelines-tasks-and-agent @tarunramsinghani
