_build
_download
_generated
.github
BuildConfigGen
ci
common-npm-packages
definitions
docs
node_modules
Tasks
templates
Tests
Tests-Legacy
generate-third-party-notice.js
make-util.js
!make.js
!/cli/*.js