# This Yaml Document has been converted by ESAI Yaml Pipeline Conversion Tool.
# This pipeline will be extended to the OneESPT template

trigger:
- master
- releases/*

resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release

variables:
- name: currentDate
  value: $[ format('{0:yyyy}{0:MM}{0:dd}', pipeline.startTime) ]
- name: taskName
  value: 'TaskNameVN'
- name: taskNameIsSet
  value: false
- name: runCodeQl
  value: false
- name: system.debug
  value: true
- name: includeLocalPackagesBuildConfigParameter
  value: ''
- name: IncludeLocalPackagesBuildConfigTest
  value: ''
- name: DEPLOY_ALL_TASKSVAR
  value: 'false'
- name: isDryRun
  value: 'false'
  

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    settings:
      skipBuildTagsForGitHubPullRequests: true
    featureFlags:
      autoBaseline: false
    sdl:
      sbom:
        enabled: true
      binskim:
        preReleaseVersion: '4.3.1'
      baseline:
        baselineSet: default
        baselineFile: $(Build.SourcesDirectory)/.gdn/.gdnbaselines
      sourceAnalysisPool:
        name: 1ES-ABTT-Shared-Pool
        image: abtt-windows-2025
        os: windows
      sourceRepositoriesToScan: 
        exclude: 
          - repository: AzureDevOps
          - repository: ConfigChange
    customBuildTags:
    - ES365AIMigrationTooling
    stages:
    - stage: main
      jobs:
      # All tasks on Windows
      - job: build_all_windows
        displayName: Build all tasks (Windows)
        condition: eq(variables.os, 'Windows_NT')
        timeoutInMinutes: 1440 # AntiMalware takes 3 hours to scan tasks.zip
        pool:
          name: 1ES-ABTT-Shared-Pool
          image: abtt-windows-2025
          os: windows
        templateContext:
          outputs:
            - output: buildArtifacts
              displayName: 'Publish package artifact'
              condition: >
                and(
                  succeeded(),
                  ne(variables['build.reason'], 'PullRequest'),
                  ne(variables['numTasks'], 0)
                )
              PathtoPublish: _package/tasks.zip
              ArtifactName: package
              sbomBuildDropPath: $(Build.SourcesDirectory)/_package
        steps:
        - template: /ci/build-all-steps.yml@self
          parameters:
            os: Windows_NT

      # All tasks on Linux
      - job: build_all_linux
        displayName: Build all tasks (Linux)
        condition: eq(variables.os, 'Linux')
        timeoutInMinutes: 360
        pool:
          name: 1ES-ABTT-Shared-Pool
          image: abtt-ubuntu-2404
          os: linux
        steps:
        - template: /ci/build-all-steps.yml@self
          parameters:
            os: Linux

      # All tasks on macOS
      - job: build_all_darwin
        displayName: Build all tasks (macOS)
        condition: eq(variables.os, 'Darwin')
        timeoutInMinutes: 360
        pool:
          name: Azure Pipelines
          image: macos-14
          os: macOS
        steps:
        - template: /ci/build-all-steps.yml@self
          parameters:
            os: Darwin
