# This Yaml Document has been converted by ESAI Yaml Pipeline Conversion Tool.
# This pipeline will be extended to the OneESPT template

trigger:
- master
- releases/*

resources:
  repositories:
  - repository: AzureDevOps
    type: git
    name: AzureDevOps/AzureDevOps

  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release

parameters:
- name: task_name
  displayName: |
    Task Name (List of tasks to build (e.g. BashV3 [, AzureCLIV1]))
    - Provide name of tasks separated by ',' to 'Deploy Hotfix' (e.g. PowerShellV2).
  type: string
  default: 'TaskNameVN'
  # default: |
# - name: deploy_all_tasks
#   displayName: Build all tasks for deployment
#   type: boolean
#   default: false

- name: task_deployment
  displayName: Choose deployment options
  type: string
  default: 'Deploy all Tasks'
  values:
  - 'Deploy all Tasks'
  - 'Deploy task of Sprint'
  - 'Deploy Hotfix'

- name: enableCodeQL
  displayName: Enable CodeQL for run
  type: boolean
  default: false
- name: includeLocalPackagesBuildConfig
  displayName: Flag to update LocalPackages buildconfig (for testing, this will be made  default later)
  type: boolean
  default: false # note: keep in sync with ci\ci-test-tasks\canary-tests-v2.yml
# - name: skip_tests
#   displayName: skipTests (Not for production use)
#   type: boolean
#   default: false
- name: skip_publish
  displayName: skipPublish (Not for production use)
  type: boolean
  default: false
- name: publishToDistributedTaskTest
  displayName: Publish to test feed (DistributedTasks-test), for infrastucture testing
  type: boolean
  default: false  


variables:
- name: currentDate
  value: $[ format('{0:yyyy}{0:MM}{0:dd}', pipeline.startTime) ]
- name: taskName
  value: ${{ parameters.task_name }}
- name: taskNameIsSet
  value: ${{ not(or(eq(parameters.task_deployment, 'Deploy all Tasks'), eq(parameters.task_deployment, 'Deploy task of Sprint'))) }}
- name: runCodeQl
  value: ${{ eq(parameters.enableCodeQL, true) }}
- name: system.debug
  value: true
- name: includeLocalPackagesBuildConfigParameter
  ${{ if eq(parameters.includeLocalPackagesBuildConfig, true) }}:
    value: '--includeLocalPackagesBuildConfig'
  ${{ else }}:
    value: ''
- name: IncludeLocalPackagesBuildConfigTest
  ${{ if eq(parameters.includeLocalPackagesBuildConfig, true) }}:
    value: '1'
  ${{ else }}:
    value: ''
# - name: tasksSkipTests
#   ${{ if eq(parameters.skip_tests, true) }}:
#     value: 'true'
#   ${{ else }}:
#     value: 'false'
- name: tasksSkipPublish
  ${{ if eq(parameters.skip_publish, true) }}:
    value: 'true'
  ${{ else }}:
    value: 'false'
- name: DEPLOY_ALL_TASKSVAR
  ${{ if eq(parameters.task_deployment,'Deploy all tasks') }}:
    value: 'true'
  ${{ else }}:
    value: 'false'
- name: FORCE_COURTESY_PUSH
  value: 'true'
- name: COURTESY_PUSH
  value: 'true'


extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    settings:
      skipBuildTagsForGitHubPullRequests: true
    featureFlags:
      autoBaseline: false
    sdl:
      sbom:
        enabled: true
      baseline:
        baselineSet: default
        baselineFile: $(Build.SourcesDirectory)/.gdn/.gdnbaselines
      sourceAnalysisPool:
        name: 1ES-ABTT-Shared-Pool
        image: abtt-windows-2022
        os: windows
      sourceRepositoriesToScan: 
        exclude: 
          - repository: AzureDevOps
          - repository: ConfigChange
    customBuildTags:
    - ES365AIMigrationTooling
    stages:
    - stage: main
      jobs:
      # All tasks on Windows
      - job: build_all_windows
        displayName: Build all tasks (Windows)
        condition: eq(variables.os, 'Windows_NT')
        timeoutInMinutes: 1440 # AntiMalware takes 3 hours to scan tasks.zip
        pool:
          name: 1ES-ABTT-Shared-Pool
          image: abtt-windows-2022
          os: windows
        templateContext:
          outputs:
            - output: buildArtifacts
              displayName: 'Publish package artifact'
              condition: >
                and(
                  succeeded(),
                  ne(variables['build.reason'], 'PullRequest'),
                  ne(variables['numTasks'], 0)
                )
              PathtoPublish: _package/tasks.zip
              ArtifactName: package
              sbomBuildDropPath: $(Build.SourcesDirectory)/_package
        steps:
        - template: /ci/build-all-steps.yml@self
          parameters:
            os: Windows_NT

      # Publish
      - job: publish
        displayName: Publish
        timeoutInMinutes: 360
        dependsOn:
        - build_all_windows
        condition: and(succeeded(), ne(variables['build.reason'], 'PullRequest'), eq(variables['tasksSkipPublish'], 'false'))
        pool:
          name: 1ES-ABTT-Shared-Pool
          image: abtt-windows-2022
          os: windows
        templateContext:
          outputs:
          - output: buildArtifacts
            displayName: 'Publish per task NuGet package artifact'
            PathtoPublish: _package/nuget-packages
            ArtifactName: IndividualNuGetPackages
        steps:
        - template: /ci/publish-steps.yml@self
        

      # Courtesy Push
      - job: courtesy_push
        displayName: Courtesy Push
        timeoutInMinutes: 180
        pool:
          name: 1ES-ABTT-Shared-Pool
          image: abtt-windows-2022
          os: windows
        dependsOn:
        - publish
        condition: |
          and(
            succeeded(),
            eq(variables['COURTESY_PUSH'], 'true'),
            or(
              eq(variables['build.reason'], 'Schedule'),
              and(
                eq(variables['build.reason'], 'Manual'),
                eq(variables['FORCE_COURTESY_PUSH'], 'true')
              )
            )
          )
        templateContext:
          outputs:
          - output: nuget
            packagesToPush:  '$(Build.SourcesDirectory)/IndividualNugetPackagesDownloaded/IndividualNugetPackages/*/*.nupkg'
            packageParentPath: '$(Build.SourcesDirectory)'
            ${{ if eq(parameters.publishToDistributedTaskTest, true) }}:
              publishVstsFeed: 'c86767d8-af79-4303-a7e6-21da0ba435e2/9d34d871-8032-4e10-a34a-c7a01e125865'
            ${{ else }}:
              publishVstsFeed: 'c86767d8-af79-4303-a7e6-21da0ba435e2/e10d0795-57cd-4d7f-904e-5f39703cb096'
            nuGetFeedType: internal
            displayName: Push Nuget package
            allowPackageConflicts: $(COURTESY_PUSH)
        steps:
        - checkout: AzureDevOps
          fetchDepth: 1
          persistCredentials: true
        - checkout: self
        - template: /ci/courtesy-push.yml@self

      - job: build_all_tasks_for_deployments
        displayName: Build all tasks for deployments (Windows)
        dependsOn:
        - courtesy_push
        - build_all_windows
        condition: succeeded()
        timeoutInMinutes: 360
        pool:
          name: 1ES-ABTT-Shared-Pool
          image: abtt-windows-2022
          os: windows
        variables:
          task_pattern: $[dependencies.build_all_windows.outputs['getTaskPattern.task_pattern']]
        templateContext:
          outputs:
          - output: buildArtifacts
            displayName: 'Publish package artifact'
            PathtoPublish: _package/tasks.zip
            sbomBuildDropPath: $(Build.SourcesDirectory)/_package
            ArtifactName: allTasks
        steps:
        - template: /ci/build-all-tasks.yml@self
          parameters:
            deploy_all_tasks: ${{ eq(parameters.task_deployment, 'Deploy all tasks') }}

      # All tasks on Linux
      - job: build_all_linux
        displayName: Build all tasks (Linux)
        condition: eq(variables.os, 'Linux')
        timeoutInMinutes: 360
        pool:
          name: 1ES-ABTT-Shared-Pool
          image: abtt-ubuntu-2204
          os: linux
        steps:
        - template: /ci/build-all-steps.yml@self
          parameters:
            os: Linux

      # All tasks on macOS
      - job: build_all_darwin
        displayName: Build all tasks (macOS)
        condition: eq(variables.os, 'Darwin')
        timeoutInMinutes: 360
        pool:
          name: Azure Pipelines
          image: macos-14
          os: macOS
        steps:
        - template: /ci/build-all-steps.yml@self
          parameters:
            os: Darwin
