<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings>
      <add name="DefaultConnection"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Insert">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
	  <httpModules>
		<add name="ApplicationInsightsWebTracking" xdt:Transform="Remove" />
	  </httpModules>
  </system.web>
</configuration>

