// To run tests locally updated the file, remove this line and rename to config.json
// fill in the azureblobstorage details for the test to work.
{
    "dropLocation": "C:/drop",
    "azureblobstorage": {
        "storageAccountName": "",
        "storageAccessKey": "",
        "sourceContainerName": "",
        "destinationContainerName": ""
    }
}