<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="MyDB"
        connectionString="database_connection_string"
        xdt:Transform="DelAttributes" xdt:Locator="Match(tag)"/>
    </connectionStrings>
</configuration>
