# This Yaml Document has been converted by ESAI Yaml Pipeline Conversion Tool.
# This pipeline will be extended to the OneESPT template

trigger: none

resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release

parameters:
- name: task_deployment
  displayName: Choose deployment options
  type: string
  default: 'Deploy task of Sprint'
  values:
  - 'Deploy all Tasks'
  - 'Deploy task of Sprint'
  - 'Deploy Hotfix'
- name: task_name
  displayName: |
    To 'Deploy Hotfix' provide task names (e.g. BashV3,AzureCLIV1,PowerShellV2) else leave to default
  type: string
  default: 'TaskNameVN'
- name: enableCodeQL
  displayName: Enable CodeQL for run
  type: boolean
  default: false
- name: includeLocalPackagesBuildConfig
  displayName: Flag to update LocalPackages buildconfig (for testing, this will be made  default later)
  type: boolean
  default: false # note: keep in sync with ci\ci-test-tasks\canary-tests-v2.yml
- name: skip_publish
  displayName: skipPublish (Not for production use)
  type: boolean
  default: false
- name: dryRun
  displayName: Dry Run (no push, no PR, no feed publish)
  type: boolean
  default: false
- name: useSemverBuildConfig
  displayName: Use Semver Build Config to support canary rollout
  type: boolean
  default: false

variables:
- name: currentDate
  value: $[ format('{0:yyyy}{0:MM}{0:dd}', pipeline.startTime) ]
- name: taskName
  value: ${{ parameters.task_name }}
- name: taskNameIsSet
  value: ${{ not(or(eq(parameters.task_deployment, 'Deploy all Tasks'), eq(parameters.task_deployment, 'Deploy task of Sprint'))) }}
- name: runCodeQl
  value: ${{ eq(parameters.enableCodeQL, true) }}
- name: system.debug
  value: true
- name: includeLocalPackagesBuildConfigParameter
  ${{ if eq(parameters.includeLocalPackagesBuildConfig, true) }}:
    value: '--includeLocalPackagesBuildConfig'
  ${{ else }}:
    value: ''
- name: IncludeLocalPackagesBuildConfigTest
  ${{ if eq(parameters.includeLocalPackagesBuildConfig, true) }}:
    value: '1'
  ${{ else }}:
    value: ''
- name: tasksSkipPublish
  ${{ if eq(parameters.skip_publish, true) }}:
    value: 'true'
  ${{ else }}:
    value: 'false'
- name: DEPLOY_ALL_TASKSVAR
  ${{ if eq(parameters.task_deployment,'Deploy all Tasks') }}:
    value: 'true'
  ${{ else }}:
    value: 'false'
- name: isDryRun
  ${{ if eq(parameters.dryRun, true) }}:
    value: 'true'
  ${{ else }}:
    value: 'false'
- name: tasksBuildArtifact
  value: 'allTasks'

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    settings:
      skipBuildTagsForGitHubPullRequests: true
    featureFlags:
      autoBaseline: false
    sdl:
      binskim:
        preReleaseVersion: '4.3.1'
      sbom:
        enabled: true
      baseline:
        baselineSet: default
        baselineFile: $(Build.SourcesDirectory)/.gdn/.gdnbaselines
      sourceAnalysisPool:
        name: 1ES-ABTT-Shared-Pool
        image: abtt-windows-2025
        os: windows
      sourceRepositoriesToScan: 
        exclude: 
          - repository: AzureDevOps
          - repository: ConfigChange
    customBuildTags:
    - ES365AIMigrationTooling
    stages:
    - stage: main
      jobs:
      # All tasks on Windows
      - job: build_all_windows
        displayName: Build all tasks (Windows)
        condition: eq(variables.os, 'Windows_NT')
        timeoutInMinutes: 1440 # AntiMalware takes 3 hours to scan tasks.zip
        pool:
          name: 1ES-ABTT-Shared-Pool
          image: abtt-windows-2025
          os: windows
        templateContext:
          outputs:
            - output: buildArtifacts
              displayName: 'Publish package artifact'
              condition: >
                and(
                  succeeded(),
                  ne(variables['build.reason'], 'PullRequest'),
                  ne(variables['numTasks'], 0)
                )
              PathtoPublish: _package/tasks.zip
              ArtifactName: $(tasksBuildArtifact)
              sbomBuildDropPath: $(Build.SourcesDirectory)/_package
        steps:
        - template: /ci/build-all-steps.yml@self
          parameters:
            os: Windows_NT
            useSemverBuildConfig: ${{ parameters.useSemverBuildConfig }}

      # Courtesy Push
      - job: courtesy_push
        displayName: Courtesy Push
        timeoutInMinutes: 540
        pool:
          name: 1ES-ABTT-Shared-Pool
          image: abtt-windows-2025
          os: windows
        dependsOn:
        - build_all_windows
        condition: |
          and(
            succeeded(),
            eq(variables['COURTESY_PUSH'], 'true'),
            eq(variables['build.reason'], 'Manual'),
            eq(variables['FORCE_COURTESY_PUSH'], 'true')
          )
        templateContext:
          outputParentDirectory: $(Build.SourcesDirectory)/_package
          outputs:
          - output: buildArtifacts
            displayName: 'Publish per task NuGet package artifact'
            PathtoPublish: $(Build.SourcesDirectory)/_package/nuget-packages
            ArtifactName: IndividualNuGetPackages
            condition: succeeded()
          - output: nuget
            packagesToPush: '$(Build.SourcesDirectory)/_package/nuget-packages/*/*.nupkg'
            packageParentPath: '$(Build.SourcesDirectory)'
            condition: and(succeeded(), eq(variables['tasksSkipPublish'], 'false'))
            ${{ if eq(parameters.dryRun, true) }}:
              publishVstsFeed: 'c86767d8-af79-4303-a7e6-21da0ba435e2/9d34d871-8032-4e10-a34a-c7a01e125865'
            ${{ else }}:
              publishVstsFeed: 'c86767d8-af79-4303-a7e6-21da0ba435e2/e10d0795-57cd-4d7f-904e-5f39703cb096'
            nuGetFeedType: internal
            displayName: Push Nuget package
            allowPackageConflicts: $(COURTESY_PUSH)
        steps:
        - template: /ci/courtesy-push-steps.yml@self
      
      # GitHub Release
      - job: github_release
        displayName: Create GitHub Release
        timeoutInMinutes: 60
        pool:
          name: 1ES-ABTT-Shared-Pool
          image: abtt-windows-2025
          os: windows
        dependsOn:
        - courtesy_push
        variables:
          courtesy_push_pr_id: $[dependencies.courtesy_push.outputs['createCourtesyPushPR.PR_ID']]
          courtesy_push_pr_link: $[dependencies.courtesy_push.outputs['createCourtesyPushPR.PR_LINK']]
        condition: |
          and(
            succeeded(),
            eq(variables['build.reason'], 'Manual'),
            eq(variables['tasksSkipPublish'], 'false')
          )
        templateContext:
          outputs: []
        steps:
        - template: /ci/github-release.yml@self