name: Auto Assign ABTT to Project Board

on:
  issues:
    types:
      - opened
      - labeled

jobs:
  assign_one_project:
    runs-on: ubuntu-latest
    name: Assign to ABTT Project
    steps:
    - name: "Assign issues with 'Area: ABTT' label to project board"
      uses: actions/add-to-project@v0.4.1
      with:
        project-url: https://github.com/orgs/microsoft/projects/755
        github-token: ${{ secrets.ABTT_TOKEN }}
        labeled: 'Area: ABTT'
