name: 'LEGO automerge'

on:
  pull_request:
    types:
      - opened
    branches:
      - Localization

jobs:
  worker:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    if: github.actor == 'csigs'
    steps:
      - uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.pulls.merge({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              pull_number: context.payload.pull_request.number,
              merge_method: 'squash'
            })
